img {
  width: 300px;
  height: 200px;
}
.img-container {
  padding-bottom: 0.25em;
  border: 1px solid black;
}
.outer-container {
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.text-container {
  width: 265px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(219, 6, 6);
  padding: 1em;
}

.container {
  height: auto;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  padding: 0.8em;
  box-shadow: 10px 10px 10px lightgray;
  border-radius: 20px;
}

.animal-name {
  border-style: solid;
  border-width: 0.1em;
  border-color: rgb(0, 0, 0);
}

.highlights {
  font: bold 12pt "Times New Roman", Palatino, serif;
}

.fun-facts {
  font: italic 12pt "Times New Roman", serif;
}

.general-description {
  font: 12pt "Times New Roman", serif;
}

.bullets {
  list-style: none;
}



